@model TitleRatingsFiltered

@{
    ViewData["Title"] = "Yeni Puan Ekle";
}

<h2>Yeni Puan Ekle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Tconst" class="control-label"></label>
        <input asp-for="Tconst" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="AverageRating" class="control-label"></label>
        <input asp-for="AverageRating" class="form-control" type="number" step="0.1" required />
    </div>

    <div class="form-group">
        <label asp-for="NumVotes" class="control-label"></label>
        <input asp-for="NumVotes" class="form-control" type="number" required />
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
